@import "tailwindcss";

:root {
	/* --hero-color: #d2691e; */
	/* --hero-color: #d47e30; */
	--hero-color: #e58019;

	--light-color: #fffdf4;
	--dark-color: #5e5e5e;

	/* hover */
	--hero-color-hover: #f08c2d;
	--dark-color-hover: #5e5e5ecc;
}

/* FONTS */
.inter {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.tiny5-regular {
	font-family: "Tiny5", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.jersey-10-regular {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.jersey-20-regular {
	font-family: "Jersey 20", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.monospace {
	font-family: monospace;
	font-optical-sizing: auto;
	font-style: normal;
}

/* BUTTON STYLES */

.btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 8px 16px;
	height: 48px;

	border-radius: 8px;
	color: var(--light-color);

	font-weight: 600;
}

.btn-primary {
	background-color: var(--hero-color);
}

.btn-primary:hover {
	/* background-color: rgb(240, 140, 45); */
	background-color: var(--hero-color-hover);
}

.btn-secondary {
	background-color: var(--dark-color);
}

.btn-secondary:hover {
	/* background-color: rgba(94, 94, 94, 0.8); */
	background-color: var(--dark-color-hover);
}

/* STYLES */

/* body */

/* body {
	border-left: 1px solid #e4882b;
	border-right: 1px solid #e4882b;
} */

/* main  */

.bit-heading {
	opacity: 0;
	animation: appearFromTop 0.5s ease-out forwards;
}

.bit-text-primary {
	opacity: 0;
	animation: appearFromBottom 0.5s ease-out 0.4s forwards;
}

.bit-text-secondary {
	opacity: 0;
	animation: appearFromBottom 0.5s ease-out 0.6s forwards;
}

.actionables {
	opacity: 0;
	animation: appearFromBottom 0.5s ease-out 0.8s forwards;
}

.numbers-container {
	opacity: 0;
	margin-top: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;

	animation: appearFromBottom 0.5s ease-out 1s forwards;
}

.number {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.actual-number {
	font-size: 2.25rem;
	font-family: "Jersey 20", sans-serif;
	line-height: normal;
	color: var(--hero-color);
}

.number-description {
	font-size: 0.875rem;
	font-family: monospace;
	color: var(--dark-color);
}

/* features section */

.features-section {
	padding: 2rem 2rem;
	padding-top: 0;
}

.cards-container {
	display: flex;
	justify-content: space-around;
	gap: 2rem;
	margin-top: 2rem;
}

.card {
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	background-color: rgb(229, 128, 25, 0.2);
	border-radius: 8px;
	padding: 24px;
}

.card-icon {
	width: fit-content;
}

.card-title {
	font-size: 18px;
	color: var(--hero-color);
	font-weight: 600;
}

.card-description {
	font-size: 14px;
	color: var(--dark-color);
	font-family: monospace;
	flex-basis: 100%;
}

/* welcome section */

.welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	padding: 6rem 2rem;
}

.disciplines-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;

	margin-top: 2rem;
}

.discipline {
	display: flex;
	gap: 0.5rem;
	background-color: rgb(229, 128, 25, 0.2);
	border-radius: 8px;
	padding: 1rem;
}

.discipline:hover {
	background-color: rgb(229, 128, 25, 0.15);
}

.discipline-name {
	color: var(--dark-color);
}

/* join the community section */

.join-community-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	padding: 6rem 2rem;
	padding-top: 0;
}

/* footer */

.bit-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	padding: 0rem 2rem 1rem 2rem;
}

.socials-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

/* Animation keyframes */
@keyframes appearFromBottomWhileScaling {
	from {
		opacity: 0;
		transform: translateY(200px) translateX(-50%) scale(0.5);
	}
	to {
		opacity: 1;
		transform: translateY(0) translateX(-50%) scale(1);
	}
}

@keyframes appearFromTop {
	from {
		opacity: 0;
		transform: translateY(-40px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes appearFromBottom {
	from {
		opacity: 0;
		transform: translateY(40px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
	cursor: grab;
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--hero-color);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--hero-color-hover);
}
